<div class="login">
	<header class="bar bar-nav">
		<a class="icon icon-plus pull-right"></a>
		<h1 class="title">SoundChat</h1>
	</header>

	<section class="content">
		<div class="hero-image">
			<h2>Log into your account</h2>
		</div>

		<div class="wrapper pushtop">
			<form action="#" method="post" id="formLogin">
		  		<input type="text" placeholder="Username" id="username" name="username" />
		  		<input type="password" placeholder="Password" id="password" name="password" />
		  		<input type="submit" class="btn btn-positive btn-block" value="Login" />
			</form>

			<p>No account? No problem! <a href="#">Register now</a> for your free account!</p>
		</div>
	</section>
</div>